<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <div class="container">

        <div th:replace="base :: banner"></div>

        <hr/>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Submitted By</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="listing : ${listings}">
                    <td>
                        <a th:href="@{${listing.url}}" target="_blank">
                            <span th:text="${listing.title}"></span>
                        </a>
                    </td>
                    <td th:if="${listing.image != ''}">
                        <a th:href="@{${listing.url}}" target="_blank">
                            <img th:src="@{${listing.image}}"/>
                        </a>
                    </td>
                    <td th:text="${listing.user.firstName + ' ' + listing.user.lastName}"></td>
                    <td><span th:text="${#dates.format(listing.date, 'dd MMM yyyy')}"></span></td>
                    <td sec:authorize="isAuthenticated()">
                        <a th:href="@{/update/{id} (id=${listing.id})}">Update</a>
                        <a th:href="@{/delete/{id} (id=${listing.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="base :: nav"></div>

    </div>

</body>
</html>